[Unit]
Description=Run node explorer

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/node_exporter-1.5.0.linux-amd64/node_exporter

[Install]
WantedBy=multi-user.target